						Part A question 1

the requested table is produced by the following code:

In [1]:
from tabulate import tabulate
import math

list = []
for x in range(1, 11):
    list2 = [x, math.factorial(x), math.factorial(x) * (5 ** (x - 1))]
    list.append(list2)
print(tabulate(list, headers=['k', 'l = 0', 'l = 5'], tablefmt='orgtbl'))

|   k |   l = 0 |         l = 5 |
|-----+---------+---------------|
|   1 |       1 |             1 |
|   2 |       2 |            10 |
|   3 |       6 |           150 |
|   4 |      24 |          3000 |
|   5 |     120 |         75000 |
|   6 |     720 |       2250000 |
|   7 |    5040 |      78750000 |
|   8 |   40320 |    3150000000 |
|   9 |  362880 |  141750000000 |
|  10 | 3628800 | 7087500000000 |